.book {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 200px;
  height: 250px;
  margin: 12px;

  &__cover {
    width: 100%;
    height: 150px;
    background-color: gray;
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
